<h2>Log In</h2>
<form (ngSubmit)="login()">
  <mat-form-field>
    <input matInput [(ngModel)]="email" name="email" type="email" placeholder="Email" required />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput [(ngModel)]="password" name="password" type="password" placeholder="Password" required />
  </mat-form-field>
  <br />
  <button mat-raised-button color="primary" type="submit">Log In</button>
</form>

<p>or</p>
<button mat-stroked-button (click)="loginWithGoogle()">Log in with Google</button>
<button mat-stroked-button (click)="loginWithFacebook()">Log in with Facebook</button>
<br /><br />
<a routerLink="/register">New User? Create an account now.</a>
